<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="2.3.1.953" targetFramework="net461" />
  <package id="ModernUICharts.WPF.Beta" version="0.9.1" targetFramework="net461" />
  <package id="Syncfusion.Core.WinForms" version="18.1.0.44" targetFramework="net472" />
  <package id="Syncfusion.DataSource.WinForms" version="18.1.0.44" targetFramework="net472" />
  <package id="Syncfusion.GridCommon.WinForms" version="18.1.0.44" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="18.1.0.44" targetFramework="net472" />
  <package id="Syncfusion.SfListView.WinForms" version="18.1.0.44" targetFramework="net472" />
  <package id="Syncfusion.Shared.Base" version="18.1.0.44" targetFramework="net472" />
</packages>